//......................................
//= PATHS
//......................................

$images                 :	'../images';
$fonts                  :	'../fonts';

//......................................
//= COLORS
//......................................

$black                  :   #000000;
$white 					:	#FFFFFF;

//......................................
//= TYPOGRAPHY PRIMARY
//......................................

$itc                    :	'ITC_Avant_Garde_Gothic_Pro';
$avenir                 :	'Avenir';
$avenirbold             :   'Avenir_Bold';
$avenirmedium           :   'Avenir_Medium';
$avenirlight            :   'Avenir_Light';

//......................................
//= BREAKPOINTS
//......................................

$lg-width				: 1199px;
$md-width				: 991px;
$sm-width				: 768px;
$xs-width				: 576px;

$mobile-width			: 374px;